<div class="panel panel-default center add-category">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a class="btn btn-primary" data-toggle="collapse" href="#new-category">
                Добавить категорию
            </a>
        </h3>
    </div>
    <div id="new-category" class="panel-collapse collapse">
        <div class="panel-body">
            <div id="msg" class="alert"></div>
            <label id="new-category-name-title" for="new-category-name">Название:</label>
            <a href="#" id="new-category-name" data-placeholder="Обязательно"
               data-resource="category" data-name="title"></a>
        </div>
    </div>
</div>