<!doctype html>
<html>
<head>
  <title>Dash.js Rocks</title>
</head>
<body>
<div>
  <video id="videoPlayer" controls="true"></video>
</div>
<script src="/dash.all.js"></script>
<script>
    (function(){
        var url = "/Manifest.mpd";
        var context = new Dash.di.DashContext();
        var player = new MediaPlayer(context);
        player.startup();
        player.attachView(document.querySelector("#videoPlayer"));
        player.setProxyDownloaderUrls({ map: '<%= map_api_video_url((@video_id)) %>', token: '<%= token_api_video_url(@video_id) %>' });
        player.attachSource(url);
    })();
</script>
</body>
</html>