@import "bootstrap";

@mixin div-with-button {
  display: inline-block;
  width: 25%;
}

@mixin custom-editable {
  border-bottom: none;
  color: $gray-dark;
  font-style: normal;
}

html {
  overflow-y: scroll;
}

.center {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.panel-heading {
  .panel-title {
    @include div-with-button;
    a {
      text-decoration: none;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.panel-body {
  .video-title {
    @include div-with-button;
  }
}

.add-category {
  a.btn {
    color: white;
  }

  label#new-category-name-title {
    vertical-align: top;
    margin-right: 20px;
  }

  a.custom-editable-empty {
    text-decoration: none;
    border-bottom: none;
    color: $gray-dark;
  }

  #msg {
    display: none;
  }
}

a.editable-click, a.editable-empty {
  @include custom-editable;
  &:hover {
    @include custom-editable;
    color: $brand-primary;
  }
}

.video-title a {
  color: $gray-dark;
  text-decoration: none;
  &:hover {
    color: $brand-primary;
  }
}