<li class="list-group-item item-for-delete">
    <div class="video-title">{{video.title}}</div>
    <button class="btn btn-danger category-delete" data-url="{{api_video_path video.id}}">Удалить</button>
</li>